$font: 'Montserrat', sans-serif;
$font-input: 'Montserrat';
$weight-text: 800;
$text-color: #212121;
$bg-color: #E5E5E5;
$bgzag-form: #F8F8F8;
$bg-placeholder: #F8F8F8;
$border-input: 1px solid #E4e4e4;
$bg-form: #FFFFFF; 
$button-color: #428A60;