<div class="application">
    <div class="application__form">
        <div class="application__form-img">
            <div class="application__form-img-text">
                Reduslim
            </div>
            <div class="elipse1">
                <div class="elipse2">

                </div>
            </div>
            
           <img src="../assets/images/image 2.png" alt="">
           <div class="application__form-img-text">
                ECO
           </div>
        </div>
        <div class="application__form-offer">
            <div class="application__form-offer-text">
                Сделай шаг к выздоровлению
            </div>
            <div class="application__form-offer-form">
                <div class="font1">
                    ВАШЕ <span>ИМЯ</span>
                </div>
                <input type="text"  placeholder="Алексей">
                
                <div class="font1">
                    ВАШ <span>ТЕЛЕФОН</span>
                <div class="div">
                <input type="text" id="phone" class="telephone" placeholder="+7 (123) 456 78-90">
                <div class="application__form-offer-form-language">
                    <div class="lang">
                        RU
                    </div>
                    <img src="../assets/images/image 7.png" alt="">
                    <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.18182 1L5.18182 5L9.18182 1" stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
                <button>Заказать 
                    <svg width="15" height="10" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 6H16.5M16.5 6L11.5 1M16.5 6L11.5 11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
        
    </div>
    
    <div class="application__trusted">
        <div class="application__trusted-text">
            Trusted 
        </div>
        <img src="../assets/images/lock.png" alt="">
        <div class="application__trusted-text">
            Secure
        </div>
    </div>
</div>